.header {
    width:100%;
    height:20%;
    position:absolute;
    top:0;
    left:0;
    background-color:#05A8AA;
    display: flex;
   
    align-items: center;
    align-content: center;
    
    font-family: 'Lato', sans-serif;
  }
  
  .span{
    display: table-cell;
    vertical-align: middle;
    
  }
  
  .header__line {
    margin:0;
    margin-left: -50vw;
    padding:0;
    width:200%;
    height: 20.5%;
    float:bottom;
    background-color:#FFE66D;
    font-family: 'Lato', sans-serif;
    min-width:100%
  }
  
  .header__text{
    padding-top:10px;
    font-size:32px;
    font-weight: bold;
  }
  
  .header__content{
    margin: 0 auto;
    margin-bottom: 15px;
    padding-right: 50px;
    vertical-align: middle;
    align-content: center;
    display:flex;
  }
  
  .header__icon{
    width: 55%;
  }

.main__text{
  margin-top: 60px;
  font-family: 'Lato', sans-serif;
  font-size:40px;
  font-weight: bold;
  margin-left: 5px;
  display: flex;
  justify-content: center;
}
.search-container {
  font-family: 'Lato', sans-serif;
  font-size:20px;
  margin: 0px auto;
  margin-top:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;


  flex-direction: row;
  width: 75%;
}

.magnify__button{
width: 5%;
position: absolute;
right: 0;
margin-right: 120px;
vertical-align: center;
}


body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.search__center{
  display:flex;
flex-wrap: wrap;
height: 100%;
}

.search__bar{
  flex: 1;
  border-radius: 5px;
  height: 100%;
  padding-right: 60px;
  font-family: 'Lato', sans-serif;
  font-size:22px;
    font-weight: bold;
  min-height: 60px;
}

.container {
  width: 80%;
  height: 20%;
  word-wrap: break-word;
  text-align:center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}


input {
  display: block;
  padding: 6px 12px;
  width: 100%;
  height: 34px;
  font-size: 1em;

}