.header {
    width:100%;
    height:20%;
    position:absolute;
    top:0;
    left:0;
    background-color:#05A8AA;
    display: flex;
   
    align-items: center;
    align-content: center;
    
    font-family: 'Lato', sans-serif;
  }
  
  .span{
    display: table-cell;
    vertical-align: middle;
    
  }
  
  .header__line {
    margin:0;
    margin-left: -50vw;
    padding:0;
    width:200%;
    height: 20.5%;
    float:bottom;
    background-color:#FFE66D;
    font-family: 'Lato', sans-serif;
    min-width:100%
  }
  
  .header__text{
    padding-top:10px;
    font-size:32px;
    font-weight: bold;
  }
  
  .header__content{
    margin: 0 auto;
    margin-bottom: 15px;
    padding-right: 50px;
    vertical-align: middle;
    align-content: center;
    display:flex;
  }
  
  .header__icon{
    width: 55%;
  }

.main__text{
  font-family: 'Lato', sans-serif;
  font-size:40px;
  font-weight: bold;
  margin-left: 5px;
}
.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 100%;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

.magnify__button{
  width: 5%;
margin-left: -28px;
}

.action__buttons{
  position: relative;
  display:flex;
  justify-content:center;
  text-align: right;
  width: 100%;
  height: 8%;
}
